body{margin: 0;}
/*Setting font families for the page*/
@font-face {
    font-family: "YellowRabbit";
    src: url("../fonts/Yellowrabbit.otf") format("opentype");
}
@font-face {
    font-family: "Slime";
    src: url("../fonts/EuroHorror.ttf") format("opentype");
}
@font-face {
    font-family: "OldEn";
    src: url("../fonts/Olde English Regular.ttf") format("opentype");
}
h1{
    font-family: "Slime", sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: "EB Garamond", sans-serif;
}
p,a,l {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
    text-decoration: none;
}
mark{
    font-family: "Slime", sans-serif;
}
mark + mark {
        font-family: "OldEn", sans-serif;

}
/*Styling the header*/
/*Background*/

header{
    height: 150px;
    padding: 5px 5%;
    background-color: #ff6a00;
}
header > div{
    width: auto;
    height: 140px;
    padding-top: 5px;
    float: left;
}
/*Logo*/

header > div > a > img{
    width: auto;
    height: 100%;
}
/*Menu*/

header > nav > menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height:140px;
    line-height: 140px;

}

header > nav > menu > li{
    float: left;
    padding: 0 5px;
}
/*Menu Styling*/

header > nav > menu > li > a{
    color: #ffffff;
    padding: 10px;
    font-weight:400;

}
/*Menu hover effects*/

header > nav > menu> li > a:hover{
    padding: 10px;
    transition:500ms;
    background-color: #ff4d00;
    font-weight:500;

}


/*Main - Content*/
/*Title styling*/

.Title > div > h1{
    font-size: 7rem;
    color: #8aff57;
    letter-spacing:10px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.5);
    margin:20px;
    Position: relative;
    top: 50%;
    text-align: center;
}
.Title > div > h2{
    font-size: 2rem;
    color: #ff6a00;
    letter-spacing: 1.75px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    margin:20px;
    Position: relative;
    top: 50%;
    text-align: center;

}
/*Main - Hero Banner*/
/*Main - Video Sizing*/
.hero-section {
    width: auto;
    margin: 0 auto;
   aspect-ratio: 21 / 9 ;
   position: relative;
}
.hero-section > iframe {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; 
}
.Lyrics > div > p{
    font-size: 1.5rem;
    text-align: center;
    Margin: 50 px;
    white-space: pre-line;
}
.Lyrics > div > p > mark{
    color:#2b4d1c;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
}
.grow span:nth-child(1){font-size:2em}
.grow span:nth-child(2){font-size:2em}
.grow span:nth-child(3){font-size:2.6em}
.grow span:nth-child(4){font-size:2.2em}
.grow span:nth-child(5){font-size:2em}

.Lyrics > div > p > mark + mark{
    color:#751000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}

.footer {
    height: 150px;
    padding: 5px 5%;
    background-color: #ff6a00;
}
.footer > h6 {
    font-size: 1rem;
    color: #ffffff;
    float: left;
}