body{margin: 0;}
/*Setting font families for the page*/
@font-face {
    font-family: "YellowRabbit";
    src: url("../fonts/Yellowrabbit.otf") format("opentype");
}
@font-face {
    font-family: "Slime";
    src: url("../fonts/EuroHorror.ttf") format("opentype");
}
@font-face {
    font-family: "OldEn";
    src: url("../fonts/Olde English Regular.ttf") format("opentype");
}
@font-face{
    font-family: "Cursive";
    src: url("../fonts/Cursive\ Option.ttf") format("opentype");
}
@font-face{
    font-family: "Deranged";
    src: url("../fonts/who\ asks\ satan.ttf") format("opentype");
}
@font-face{
    font-family: "Machine";
    src: url("../fonts/TH3\ MACHINE.ttf") format("opentype");
}
@font-face {
    font-family: "Radio";
    src: url("../fonts/Static.ttf");
}
@font-face {
    font-family: "Sing";
    src: url("../fonts/The-Bash-Singing-SlashyFont.ttf");
}

/*Assigning font families*/

h1{
    font-family: "Slime", sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: "EB Garamond", sans-serif;
}
p,a,l {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
    text-decoration: none;
}
/*GROSS*/
.Growletters {
    font-family: "Slime", sans-serif;
}
/*Perverted*/

.Perverted {
        font-family: "OldEn", sans-serif;
}
/*Obssessed*/

mark:nth-of-type(3) {
        font-family: "Cursive", sans-serif;
}
/*Deranged*/

mark:nth-of-type(4) {
        font-family: "Deranged", sans-serif;
}
/*Years*/

mark:nth-of-type(5) {
        font-family: "OldEn", sans-serif;
}
/*Changed*/

mark:nth-of-type(6) {
        font-family: "Cursive", sans-serif;
}

/*tool of the government*/
mark:nth-of-type(7) {
        font-family: "Machine", sans-serif;
}
/*rule*/
mark:nth-of-type(8) {
        font-family: "Slime", sans-serif;
}
/*regulate*/
mark:nth-of-type(9) {
        font-family: "Slime", sans-serif;
}

/*Vile and pernicious*/
mark:nth-of-type(10){
    font-family: "Slime", sans-serif;
}
/*Delicious*/
mark:nth-of-type(11){
    font-family: "Cursive", sans-serif;
}
/*Me*/
mark:nth-of-type(12){
    font-family: "Deranged", sans-serif;
}
/*I'm the slime oozing out of your tv set*/
mark:nth-of-type(13){
    font-family: "Slime", sans-serif;
}
/*Obey me when I lead you*/

mark:nth-of-type(14){
    font-family:"Machine", sans-serif;
}
/*Garbage*/
mark:nth-of-type(15){
    font-family: "Slime", sans-serif;
}
/*We don't need you*/
mark:nth-of-type(16){
    font-family: "OldEn", sans-serif;
}
/*NoOne will heed you*/
mark:nth-of-type(17){
    font-family: "Deranged", sans-serif;
}
/*Controlled*/
mark:nth-of-type(18){
font-family: "Cursive", sans-serif;

}
/*Stuffed into my mold*/
mark:nth-of-type(19){
font-family: "Cursive", sans-serif;

}
/*as you are told*/
mark:nth-of-type(20){
font-family: "OldEn", sans-serif;

}
/*sold*/
mark:nth-of-type(21){
font-family: "OldEn", sans-serif;

}

/*Radio Bit*/
mark:nth-of-type(22){
font-family: "Radio", sans-serif;

}
/*Women Singing*/
mark:nth-of-type(23){
font-family: "Sing", sans-serif;

}
/*Styling the header*/

header{
    height: 150px;
    padding: 5px 5%;
    background-color: #ff6a00;
}
header > div{
    width: auto;
    height: 140px;
    padding-top: 5px;
    float: left;
}
/*Logo*/

header > div > a > img{
    width: auto;
    height: 100%;
}
/*Menu*/

header > nav > menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height:140px;
    line-height: 140px;

}

header > nav > menu > li{
    float: left;
    padding: 0 5px;
}
/*Menu Styling*/

header > nav > menu > li > a{
    color: #ffffff;
    padding: 10px;
    font-weight:400;

}
/*Menu hover effects*/

header > nav > menu> li > a:hover{
    padding: 10px;
    transition:500ms;
    background-color: #ff4d00;
    font-weight:500;

}

/*Background*/

/*Main - Content*/
/*Title styling*/

.Title > div > h1{
    font-size: 6rem;
    color: #8aff57;
    letter-spacing:6px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.5);
    margin:20px;
    Position: relative;
    top: 100%;
    text-align: center;
}
.Title > div > h2{
    font-size: 2rem;
    color: #ff6a00;
    letter-spacing: .5px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    margin:20px;
    Position: relative;
    top: 50%;
    text-align: center;

}
/*Main - Hero Banner*/
/*Main - Video Sizing*/
.hero-section {
    width: auto;
    margin: 0 auto;
   aspect-ratio: 21 / 9 ;
   position: relative;
}
.hero-section > video {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; 
}
.Lyrics > div > p{
    font-size: 2rem;
    text-align: center;
    Margin: 50 px;
    white-space: pre-line;
}
/*Change in letter sizes*/
.Growletters mark{font-size:5rem}
.Growletters mark:nth-child(2){font-size:5.2rem}
.Growletters mark:nth-child(3){font-size:6rem}
.Growletters mark:nth-child(4){font-size:5.2rem}
.Growletters mark:nth-child(5){font-size:5rem}

.Perverted  mark:nth-child(2){font-size: 7rem}
.Perverted  mark:nth-child(3){font-size:7rem}

.years mark {font-size: 5rem;}

.rule mark {font-size: 5.5rem;}
.regulate mark {font-size: 5.5rem;}
/*Word Styling*/
.Growletters *,
.Perverted *,
.years *,
.rule *,
.regulate * {
    color: inherit;
    background-color: transparent;
}
.Growletters{
    color:#1e6300;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
}

/* Perverted Colors and Size*/
.Perverted {
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5rem;
}
.Obsessed{
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3em;
}

.Deranged {
    color:#1b0044;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 7rem;
    
}
.years {
    color:#000d9a;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.changed{
    color:#510751;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5rem;
}
.tool{
    color:#002c12;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.rule{
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.Lyrics > div > p > mark:nth-of-type(9){
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.footer {
    height: 150px;
    padding: 5px 5%;
    background-color: #ff6a00;
}
.footer > h6 {
    font-size: 1rem;
    color: #ffffff;
    float: left;
}