body{margin: 0;}
/*Setting font families for the page*/
@font-face {
    font-family: "YellowRabbit";
    src: url("../fonts/Yellowrabbit.otf") format("opentype");
}
@font-face {
    font-family: "Slime";
    src: url("../fonts/EuroHorror.ttf") format("opentype");
}
@font-face {
    font-family: "OldEn";
    src: url("../fonts/Olde English Regular.ttf") format("opentype");
}
@font-face{
    font-family: "Cursive";
    src: url("../fonts/Cursive\ Option.ttf") format("opentype");
}
@font-face{
    font-family: "Deranged";
    src: url("../fonts/who\ asks\ satan.ttf") format("opentype");
}
@font-face{
    font-family: "Machine";
    src: url("../fonts/TH3\ MACHINE.ttf") format("opentype");
}
@font-face {
    font-family: "Radio";
    src: url("../fonts/Static.ttf");
}
@font-face {
    font-family: "Sing";
    src: url("../fonts/The-Bash-Singing-SlashyFont.ttf");
}

/*Assigning font families*/

h1{
    font-family: "Slime", sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: "EB Garamond", sans-serif;
}
p,a,l {
    font-size: 1.2rem;
    font-family: "EB Garamond", sans-serif;
    text-decoration: none;
}
/*GROSS*/
.Growletters {
    font-family: "Slime", sans-serif;
}
/*Perverted*/

.Perverted {
        font-family: "OldEn", sans-serif;
}
/*Obssessed*/

.Obsessed {
        font-family: "Cursive", sans-serif;
}
/*Deranged*/

.Deranged{
        font-family: "Deranged", sans-serif;
}
/*Years*/

.years {
        font-family: "OldEn", sans-serif;
}
/*Changed*/

.changed {
        font-family: "Cursive", sans-serif;
}

/*tool of the government*/
.tool{
        font-family: "Machine", sans-serif;
}
/*rule*/
.rule {
        font-family: "Slime", sans-serif;
}
/*regulate*/
.regulate {
        font-family: "Slime", sans-serif;
}

/*Vile and pernicious*/
.vile {
    font-family: "Slime", sans-serif;
}
/*Delicious*/
.delicious{
    font-family: "Cursive", sans-serif;
}
/*Me*/
.me{
    font-family: "Deranged", sans-serif;
}
/*I'm the slime oozing out of your tv set*/
.oozin{
    font-family: "Slime", sans-serif;
}
/*Obey me when I lead you*/

.obey{
    font-family:"Machine", sans-serif;
}
/*Garbage*/
.garbage{
    font-family: "Slime", sans-serif;
}
/*We don't need you*/
.need{
    font-family: "OldEn", sans-serif;
}
/*NoOne will heed you*/
.heed{
    font-family: "Deranged", sans-serif;
}
/*Controlled*/
.controlled{
font-family: "Cursive", sans-serif;

}
/*Stuffed into my mold*/
.mold{
font-family: "Cursive", sans-serif;

}
/*as you are told*/
.told{
font-family: "OldEn", sans-serif;

}
/*sold*/
.sold{
font-family: "OldEn", sans-serif;

}

/*Radio Bit*/
.radio{
font-family: "Radio", sans-serif;

}
/*Women Singing*/
.sing{
font-family: "Sing", sans-serif;

}
/*Styling the header*/

header{
    height: 100px;
    padding: 5px 5%;
    background-color: #0b0838;
    position: sticky;
    top: 0;                   
    z-index: 1000; 
}
header > div{
    width: auto;
    height: 100px;
    padding-top: 10px;
    float: left;
}
/*Logo*/

header > div > a > img{
    width: auto;
    height: 80%;
}
/*Menu*/

header > nav > menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    height:140px;
    line-height: 100px;

}

header > nav > menu > li{
    float: left;
    padding: 0 5px;
}
/*Menu Styling*/

header > nav > menu > li > a{
    color: #ffffff;
    padding: 20px;
    font-weight:400;
    font-size: 1.5rem;
}
/*Menu hover effects*/

header > nav > menu> li > a:hover{
    padding: 20px;
    transition:500ms;
    background-color: #151148;
    font-weight:500;

}

/*Background*/

/*Main - Content*/
/*Title styling*/

.Title > div > h1{
    font-size: 6rem;
    color: #8aff57;
    letter-spacing:6px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.5);
    margin:20px;
    Position: relative;
    top: 100%;
    text-align: center;
}
.Title > div > h2{
    font-size: 2rem;
    color: #0b0838;
    letter-spacing: .5px;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    margin:20px;
    Position: relative;
    top: 50%;
    text-align: center;

}
/*Main - Hero Banner*/
/*Main - Video Sizing*/
.hero-section {
    width: auto;
    margin: 0 auto;
   aspect-ratio: 21 / 9 ;
   position: relative;
}
.hero-section > video {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; 
}
.Lyrics > div > p{
    font-size: 2rem;
    text-align: center;
    Margin: 50 px;
    white-space: pre-line;
}
/*Change in letter sizes*/
.Growletters mark{font-size:5rem}
.Growletters mark:nth-child(2){font-size:5.2rem}
.Growletters mark:nth-child(3){font-size:6rem}
.Growletters mark:nth-child(4){font-size:5.2rem}
.Growletters mark:nth-child(5){font-size:5rem}

.Perverted  mark:nth-child(2){font-size: 7rem}
.Perverted  mark:nth-child(3){font-size:7rem}

.years mark {font-size: 5rem;}

.rule mark {font-size: 5.5rem;}
.regulate mark {font-size: 5.5rem;}
.oozin mark{font-size:6rem; }

.sing mark:nth-child(1){font-size:3.5rem}
.sing mark:nth-child(2){font-size:3.7rem}
.sing mark:nth-child(3){font-size:4rem}
.sing mark:nth-child(4){font-size:3.7rem}
.sing mark:nth-child(5){font-size:3.2rem}
.sing mark:nth-child(6){font-size:3rem}


.sing mark:nth-child(7){font-size:3.5rem}
.sing mark:nth-child(8){font-size:3.7rem}
.sing mark:nth-child(9){font-size:4rem}
.sing mark:nth-child(10){font-size:3.7rem}
.sing mark:nth-child(11){font-size:3.5rem}
.sing mark:nth-child(12){font-size:3.3rem}
.sing mark:nth-child(13){font-size:3rem}
.sing mark:nth-child(14){font-size:2.6rem}
.sing mark:nth-child(15){font-size:2rem}

.sing mark:nth-child(16){font-size:3.5rem}
.sing mark:nth-child(17){font-size:3.7rem}
.sing mark:nth-child(18){font-size:4rem}
.sing mark:nth-child(19){font-size:3.5rem}
.sing mark:nth-child(20){font-size:3.2rem}

.sing mark:nth-child(21){font-size:6rem}
.sing mark:nth-child(22){font-size:6rem}


/*Word Styling*/
.Growletters *,
.Perverted *,
.years *,
.rule *,
.regulate *{
    color: inherit;
    background-color: transparent;
}

.oozin *{
     color: inherit;
    background-color: transparent;
}
.Growletters{
    color:#1e6300;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
}

/* Perverted Colors and Size*/
.Perverted {
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5rem;
}
.Obsessed{
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3em;
}

.Deranged {
    color:#1b0044;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 7rem;
    
}
.years {
    color:#000d9a;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.changed{
    color:#510751;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5rem;
}
.tool{
    color:#002c12;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.rule{
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.regulate{
    color:#870000;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.vile{
    color:#231c06;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
}
.delicious{
    color:#ff54eb;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5rem;
}
.me{
    color: #0b0304 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 5.4rem;
}
.oozin{
    color: #0db927 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.obey{
    color: #1b0d80 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
}
.garbage{
    color: #212d0f ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.need{
    color: #c32626 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.heed{
    color: #0b0304 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.controlled{
    color: #510751 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 2px;
}
.mold{
    color: #510751 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 2px;
}
.told{
    color: #510751 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 2px;
}
.sold{
    color: #c32626 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.radio{
    color: #08007a ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
}
.sing{
    color: #171618 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 2px;
}
.sing mark{
    color: #000000 ;
    text-shadow: 4px 3px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    font-size: 2rem;
    letter-spacing: 2px;
}
.footer {
    height: 150px;
    padding: 5px 5%;
    background-color: #0b0838;
}
.footer > h6 {
    font-size: 1rem;
    color: #ffffff;
    float: left;
}